:root {
  --main-bg-color : rgb(33, 33, 33);
  /* --main-bg-color : rgba(0, 0, 0, 0.847); */

  --main-web-color: black;
  /* --black-web-color: black; */
}

* {
  box-sizing: border-box;
}

 
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Serif', serif;

  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  overflow: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:hover {
  cursor: pointer;
}